@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}
body {
  line-height: 1.3;
  font-family: 'Roboto Slab', serif;
  margin: 0;
  font-size: 100%;
}
header {
  margin: 0;
  text-align: left;
}
main {
  margin: 1.3em;
  margin-top: 2.6em;
}
.p {
  max-width: 480px;
  margin: auto;
}
.c {
  max-width: 480px;
  margin: auto;
  margin-bottom: 3em;
}
img {
  width: 100%;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  bottom: 0.3em;
  font-size: 2.369em;
  margin: 0;
  line-height: 1em;
  color: #fff;
  text-shadow: 3px 3px 3px #a3cff4;
  width: 100%;
  padding-left: 0.65em;
}
a {
  text-decoration: none;
  color: #a3cff4;
  padding: 1em;
  display: block;
  width: 100%;
}
a:hover {
  background-color: #a3cff4;
  color: #fff;
}
figure {
  position: relative;
  margin: 0;
}
.links {
  text-align: center;
  padding: 0;
  margin: 0;
}
p {
  margin-top: 1.3em;
  margin-bottom: 2.6em;
}
li {
  display: block;
  background-color: #fff;
  border: 2px solid #a3cff4;
  margin-top: 0.65em;
  margin-bottom: 0.65em;
  border-radius: 10px;
}
@media only screen and (min-width: 48em) {
  h1 {
    font-size: 5.063em;
    margin-left: -0.25em;
    text-align: center;
    padding: 0;
  }
  main {
    margin-left: 1.4em;
    margin-right: 1.4em;
    max-width: 730px;
    margin: auto;
    font-size: 110%;
    line-height: 1.4;
  }
  p {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -ms-column-count: 2;
    column-count: 2;
  }
  li {
    display: inline-block;
    width: 32%;
  }
  .p {
    margin: 0;
    max-width: none;
  }
  .c {
    margin: 0;
    max-width: none;
    margin-bottom: 3em;
  }

}
@media only screen and (min-width: 75em) {
  main {
    margin-left: 6em;
    margin-right: 6em;
    max-width: none;
    font-size: 120%;
    line-height: 1.5;
  }
  h1 {
    font-size: 6.854em;
  }
  h2 {
    display: inline-block;
    float: left;
  }
  li {
    width: 25%;
  }
  .desc {
    display: inline-block;
    clear: both;
    width: 75%;
  }
  .about {
    margin-right: 10%;
  }
  .p {
    height: 354px;
    margin-top: 3em;
  }
  .c {
    clear: both;
  }
}
