@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}
body {
  line-height: 1.3;
  font-family: 'Roboto Slab', serif;
  margin: 0;
  background-color: #a3cff4;
}
header {
  margin: 0;
  text-align: left;
}
main {
  margin: 1.3rem;
}
img {
  width: 100%;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  bottom: 0.3em;
  left: 0.1em;
  font-size: 3.157rem;
  margin: 0;
  line-height: 1em;
  color: #000;
  text-shadow: 3px 3px 3px #a3cff4;
  width: 100%;
}

figure {
  position: relative;
  margin: 0;
}
.links {
  text-align: center;
  padding: 0;
  margin: 0;
}
li {
  display: block;
  padding: 1em;
  background-color: #fff;
  border: 2px solid #a3cff4;
  margin-top: 0.65em;
  margin-bottom: 0.65em;
  border-radius: 10px;
}
@media only screen and (min-width: 48em) {

}
